  /* Card servicios*/
  
  .cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; /* Añade un espacio entre las tarjetas */
    margin-bottom: 20px;

  }

  .card {
    width: 200px;
    padding: 20px;
    margin: 20px;
    border: 3px solid green;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: move 10s infinite alternate;
  }
  @keyframes move {
    0% {
      transform: translateX(0);
      opacity: 0.5;
  }
  50% {
      transform: translateX(-30px);
      opacity: 1;
  }
  100% {
      transform: translateX(0);
      opacity: 0.6;
  }
}
  
  .card img {
    
    border-radius: 20px;
    max-width: 100%;
    height: 150px;
  }
  
  .card-body {
    padding: 10px 60px 10px 60px;
  }
  
  .card-title {
    color: black;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    margin: 0;
  }
  
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 25px;
    font-size: 16px;
    border-radius: 100px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(to left, #017F2A, #A9D300);
    border: none;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #0056b3;
    transform: scale(1.1);
  }
  
  /*animacion en las card*/
 /* .card {
    transition: transform 4.2s ease;
    transform-style: preserve-3d;
}

.card:hover {
    transform: rotateY(360deg);
}*/