/* footer y icono de whatsapp*/
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .whatsapp-icon img {
    width: 50px; /* Puedes ajustar este valor según sea necesario */
    height: auto;
    border-radius: 50%; /* Esto hace que la imagen sea circular */
  }
  
  footer {
    background-image: linear-gradient(to left, #017F2A, #A9D300);
    color: #fff;
    text-align: center;
    padding: 0px 5px;
}
footer ul {
    list-style-type: none;
    padding: 0;
}
footer li {
  font-size: 12px;
    margin: 5px 0;
    text-align: justify;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 5px;

}
footer P {
  font-size: 1rem;
  text-align: justify;
  color: black;
  font-weight: bolder;
}
footer a:hover {
    text-decoration: underline;
}
.copy {
  text-align: center;
}