@import "header.scss";
@import "footer.scss";
@import "cardservicio.scss";
@import "cardproductos.scss";
@import "titulo.scss";
@import "mediaquery.scss";
@import "grid.scss";


body {
    margin: 0;


}

p {
    font-size: 13px;
    text-align: justify;

}

li {
    font-size: 13px;
    text-align: justify;
}

.imagenes {
    display: block;
    margin: auto;
    width: 345px;
    height: 300px;

}

/*  icono de whatsapp*/
.whatsapp-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-icon img {
    width: 30px;
    /* Puedes ajustar este valor según sea necesario */
    height: auto;
    border-radius: 50%;
    /* Esto hace que la imagen sea circular */
}

.contactanos {
    font-weight: bolder;
}
